{% extends "layout.html" %}

{% block body %}


<script src="{{ url_for('static', filename='ninthJS/ninthConfirmButton.js')  }}"></script>

<button class="button1" id="9thSetup">Set up 9th Grade Classes</button>

<h3 id="textUnderSetup" class="level-select-visible">You have not chosen any classes yet.</h3>

<script>


document.addEventListener("DOMContentLoaded", function() {

    // make side bar disappear
    let sideBar = document.getElementById("9thsetupformcontainer")

    sideBar.classList.remove("level-select-visible")
    sideBar.classList.add("level-select-hidden")

    // make all modal slides hidden when page is loaded
    let modalSlides = document.getElementsByClassName("modalSlide")

    for (i=0;i<modalSlides.length;i++) {
        modalSlides[i].classList.remove("level-select-visible")
        modalSlides[i].classList.add("level-select-hidden")

    }

    let setupButton = document.getElementById("9thSetup");

    // when the user presses the button to set up their 9th grade classes
    setupButton.addEventListener("mouseup", function () {

        // make side bar visible
        sideBar.classList.remove("level-select-hidden")
        sideBar.classList.add("level-select-visible")

        // make all modal slides visible
        for (i=0;i<modalSlides.length;i++) {

        modalSlides[i].classList.remove("level-select-hidden")
        modalSlides[i].classList.add("level-select-visible")

        }

        // remove text under classes
        let text = document.getElementById("textUnderSetup")
        text.classList.add('level-select-hidden')
        text.classList.remove('level-select-visible')

    })

})







</script>



<div id="mainClassesDisplayContainer">

</div>


<div id="9thsetupformcontainer" class="level-select-visible">

    <form id="9thsetupform" class="ninethsetupform">
        <div id="classesLog9">
            <h2>Your classes (9)</h2>
            <div id="math9">
                <!-- <h3>Math: </h3> -->
                <h5 class = 'selected9thClass' id="grade9Math">Not Selected Yet</h5>

            </div>

            <div id="sci9">
                <!-- <h3>Science: </h3> -->
                <h5 class = 'selected9thClass' id="grade9sci">Not Selected Yet</h5>
            </div>

            <div id="history9">
                <!-- <h3>History: </h3> -->
                <h5 class = 'selected9thClass' id="grade9hist">Modern World History</h5>
            </div>

            <div id="eng9">
                <!-- <h3>English: </h3> -->
                <h5 class = 'selected9thClass' id="grade9eng">English 9</h5>
            </div>

            <div id="lang9">
                <!-- <h3>Language: </h3> -->
                <h5 class = 'selected9thClass'id="grade9lang">Not Selected Yet</h5>
            </div>

            <div id="wellness9">
                <!-- <h3>Wellness: </h3> -->
                <h5 class = 'selected9thClass'>Intro to Wellness</h5>
                <h5 class = 'selected9thClass'>Foundations of Strength Training</h5>
                <h5 class = 'selected9thClass' id="wellness1">Not Selected Yet</h5>
                <h5 class = 'selected9thClass' id="wellness2">Not Selected Yet</h5>
            </div>

            <div id="elective9">
                <!-- <h3>Elective: </h3> -->
                <div id="electivesDisplay">

                </div>
            </div>

            <button type="button" id="confirm9thclasses" class="button1">Confirm</button>
        </div>



        <!-- math script (what the actual sigma) -->
        <script src="{{ url_for('static', filename='ninthJS/ninthalgorgeo.js')  }}"></script>
        <!-- MATH -->
        <div class="modalSlide" id="modalSlide1">
            <h2>Let's start with Math</h2>
            <div id="mathLevelSelect">
                <div class="alg-or-geo-select-wrapper">
                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="algorgeo" id="algebraI" value="Algebra I">
                        <label for="algebraI">Algebra I</label>
                    </div><br>

                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="algorgeo" id="geometry" value="Geometry">
                        <label for="geometry">Geometry</label>
                    </div><br>

                </div>

                <div id="algILevelSelect" class="level-select-visible">
                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="algILevelSelect" id="algIstandard" value="algIstandard">
                        <label for="algIstandard">Standard</label>
                    </div><br>

                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="algILevelSelect" id="linearfoundations" value="1 Foundations">
                        <label for="linearfoundations">Alg/Geo 1 Foundations</label>
                    </div><br>

                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="algILevelSelect" id="quadraticfoundations" value="2 Foundations">
                        <label for="quadraticfoundations">Alg/Geo 2 Foundations</label><br>
                    </div><br>

                </div>

                <div id="geoLevelSelect" class="level-select-visible">
                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="geoLevelSelect" id="geoStandard" value="geoStandard">
                        <label for="geoStandard">Standard</label>
                    </div><br>

                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="geoLevelSelect" id="advanced" value="Advanced">
                        <label for="advanced">Advanced</label>
                    </div><br>

                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="geoLevelSelect" id="accel" value="Accelerated Advanced">
                        <label for="accel">Accelerated Advanced</label>
                    </div><br>
                </div>
            </div>
        </div>

        <!-- SCIENCE -->
        <div class="modalSlide" id="modalSlide2">
            <h2>Let's go to Science</h2>
            <div id="scienceLevelSelect">
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" checked="checked" id="mandatoryES" value="Earth Science">
                    <label for="Earth Science">Earth Science</label>
                </div><br>

                <p>What Earth Science class are you taking?</p>

                <!-- accelerated -->
                <div class="radio-wrapper">
                    <input type="radio"  class="multichoice1" id="accelerated" name="esLevel" value="Accelerated">
                    <label for="accelerated">Accelerated</label>
                </div><br>


                <!-- es 1 -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" id="es1" name="esLevel" value="1">
                    <label for="es1">1</label>
                </div><br>

                <!-- es 2 -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" id="es2" name="esLevel" value="2">
                    <label for="es2">2</label>
                </div><br>

                <!-- applied -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" id="esApplied" name="esLevel" value="Applied">
                    <label for="esApplied">Applied</label>
                </div><br>
            </div>
        </div>

        <!-- HISTORY -->
        <div class="modalSlide" id="modalSlide3">
            <h2>Let's go to History</h2>
            <div id="scienceLevelSelect">
                <p>Your only option is Modern World History.</p>

                <!-- mwh -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" checked="checked" id="MWH" name="MWH" value="Modern World History">
                    <label for="MWH">Modern World History</label>
                </div><br>
            </div>
        </div>

        <!-- English -->
        <div class="modalSlide" id="modalSlide4">
            <h2>Let's go to English</h2>
            <div id="scienceLevelSelect">
                <p>Your only option is English 9.</p>

                <!-- mwh -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" id="e9" checked="checked" name="e9" value="English 9">
                    <label for="e9">English 9</label>
                </div><br>

            </div>
        </div>

        <!-- WORLD LANGUAGE -->
        <div class="modalSlide" id="modalSlide5">
            <h2>Let's go to World Language</h2>
            <div id="languageSelect">
                <p>What world language are you taking? </p>

                <!-- spanish -->
                <div class="radio-wrapper">
                    <input type="radio"  class="multichoice1" id="spanish" name="language9" value="Spanish">
                    <label for="spanish">Spanish</label>
                </div><br>

                <!-- french -->
                <div class="radio-wrapper">
                    <input type="radio"  class="multichoice1" id="french" name="language9" value="French">
                    <label for="french">French</label>
                </div><br>

                <!-- german  -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" id="german" name="language9" value="German 1">
                    <label for="german">German 1</label>
                </div><br>

                <!-- latin -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" id="latin" name="language9" value="Latin 1">
                    <label for="latin">Latin 1</label>
                </div><br>

                <!-- mandarin -->
                <div class="radio-wrapper">
                    <input type="radio"  class="multichoice1" id="mandarin" name="language9" value="Mandarin 1">
                    <label for="mandarin">Mandarin 1</label>
                </div><br>
            </div>

            <div id="regularLangLevelSelect"  class="level-select-hidden">
                <p>What level are you taking?</p>

                <!-- 1 -->
                <div class="radio-wrapper">
                    <input type="radio" class="multichoice1" id="language1" name="langLevel" value="1">
                    <label for="language1">1</label>
                </div><br>

                <!-- 2 (1) -->
                <div class="radio-wrapper">
                    <input type="radio"  class="multichoice1" id="2 (1)" name="langLevel" value="2 (1)">
                    <label for="2 (1)">2 (1)</label>
                </div><br>

                <!-- 2 (2) -->
                <div class="radio-wrapper">
                    <input type="radio"  class="multichoice1" id="2 (2)" name="langLevel" value="2 (2)">
                    <label for="2 (2)">2 (2)</label>
                </div><br>
            </div>

        </div>

        <!-- Wellness -->
        <div class="modalSlide" id="modalSlide6">
            <h2>Let's go to Wellness</h2>
            <p>Mandatory Classes</p>
            <div class="radio-wrapper">
                <input type="radio" class="multichoice1" checked="checked" id="introWellness" value="introWellness">
                <label for="introWellness">Intro to Wellness</label>
            </div><br>

            <div class="radio-wrapper">
                <input type="radio" class="multichoice1" checked="checked" id="foundationsStrength" value="foundationsStrength">
                <label for="introWellness">Foundations of Strength Training</label>
            </div><br>


            <p>Choose 2 wellness electives!</p>
            <div id="wellnessElectiveSelect9">
                <!-- GOING TO USE JS TO ITERATE THROUGH POS DICT AND CREATE RADIO  -->
            </div>
        </div>

        <!-- regular elective -->
        <div class="modalSlide" id="modalSlide7">
            <h2>Let's go to your Elective</h2>
            <div id="regElectiveDiv9">

                <p>Would you like to take 2 semester-long courses or 1 year-long course for your elective block?</p>

                <div class="sem-or-yr-select-wrapper">
                    <div class="radio-wrapper">
                        <input type="radio" class="multichoice1" name="semoryr" id="semester" value="semester">
                        <label for="semester">2 semester-long courses</label>
                    </div><br>

                    <div class="radio-wrapper">

                        <input type="radio" class="multichoice1" name="semoryr" id="year" value="year">
                        <label for="year">1 year-long course</label>
                    </div><br>

                </div>

                <p>Choose an elective! Keep in mind that this is for one, year long elective block. You can choose to either select 2 semester-long electives, or 1 year-long elective. </p>

                <div id="semesterElective9container" class="elective-select-visible">
                    <p>These are the semester-long electives available to you. (Choose 2)</p>
                    <div id="semesterElective9">

                    </div>
                </div>

                <div id="yearElective9container" class="elective-select-visible">
                    <p>These are the year-long electives available to you. (Choose 1)</p>
                    <div id="yearElective9">

                        <!-- language double enrollment option button (SHOULD STAY VISIBLE)-->

                        <div class="radio-wrapper">
                            <input type="radio" name="yearElectiveSelect" id="langDblEnroll" value="Language Double Enrollment">
                            <label for="langDblEnroll">Language Double Enrollment</label>
                        </div>
                    </div>

                    <!-- language double enroll options (SHOULD STAY HIDDEN UNLESS USER CHOOSES DOUBLE ENROLL BUTTON) -->
                    <div name = "langDblEnrollOptions" id="langDblEnrollOptions" class="elective-select-hidden">

                        <p>What world language would you like to double enroll in? </p>

                        <!-- spanish dbl enroll -->
                        <div class="radio-wrapper">
                            <input type="radio"  class="langDblEnrollOption" id="spanishDblEnroll" name="language9DblEnroll" value="Spanish Double Enroll">
                            <label for="spanishDblEnroll">Spanish Double Enroll</label>
                        </div><br>

                        <!-- french dbl enroll -->
                        <div class="radio-wrapper">
                            <input type="radio"  class="langDblEnrollOption" id="frenchDblEnroll" name="language9DblEnroll" value="French Double Enroll">
                            <label for="frenchDblEnroll">French Double Enroll</label>
                        </div><br>

                        <!-- german dbl enroll -->
                        <div class="radio-wrapper">
                            <input type="radio" class="langDblEnrollOption" id="germanDblEnroll" name="language9DblEnroll" value="German Double Enroll">
                            <label for="germanDblEnroll">German Double Enroll</label>
                        </div><br>

                        <!-- latin dbl enroll -->
                        <div class="radio-wrapper">
                            <input type="radio" class="langDblEnrollOption" id="latinDblEnroll" name="language9DblEnroll" value="Latin Double Enroll">
                            <label for="latinDblEnroll">Latin Double Enroll</label>
                        </div><br>

                        <!-- mandarin dbl enroll -->
                        <div class="radio-wrapper">
                            <input type="radio"  class="langDblEnrollOption" id="mandarinDblEnroll" name="language9DblEnroll" value="Mandarin Double Enroll">
                            <label for="mandarinDblEnroll">Mandarin Double Enroll</label>
                        </div><br>



                    </div>

                </div>

                <!-- GOING TO USE JS TO ITERATE THROUGH POS DICT AND CREATE RADIO  -->
            </div>
        </div>

    </form>
</div>

<!-- carousel of each modal slide -->
<script src="{{ url_for('static', filename='ninthJS/ninthcarousel.js')  }}"></script>
<script src="{{ url_for('static', filename='ninthJS/ninthelectiveandwellness.js')  }}"></script>



<!-- SCRIPT TO INPUT ALL CHOSEN CLASSES INTO LIST -->
<script src="{{  url_for('static', filename='ninthJS/ninthconsolidate.js')  }}"></script>

<script src="{{ url_for('static', filename='ninthJS/ninthlangy.js')   }}"></script>



{% endblock %}
